@model Core.ContentPage.PageContent
@using Core.Flight;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section AdditionalMeta{
    <title>@Model.PageTitle</title>
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.MetaKeyWord" />
    <link rel="canonical" href="https://www.flightsmojo.in/deals" />
    <meta name="author" content="Flights Mojo" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta name="Copyright" content="https://www.flightsmojo.in/" />
    <meta property="og:title" content="@Model.PageTitle" />
    <meta property="og:description" content="@Model.MetaDescription" />
    <meta property="og:url" content="https://www.flightsmojo.in/deals" />
    <meta property="og:type" content="Travel Agency" />
    <meta property="og:image" content="https://www.flightsmojo.in/images/logo.png" />
}
<style>
    .poular_RoutesN> ul li {width: 48%;border: #133F65 solid 2px;border-radius: 32px;float: left;margin: 10px;transition: transform .4s;overflow: hidden; cursor: pointer;}
.poular_RoutesN> ul li:hover{ms-transform: scale(1.04); -webkit-transform: scale(1.04);transform: scale(1.04);}
</style>
<main>

    <section class="banner_section" style="background: #6dc0e5;">
        <div class="container clear-padding">
            <div class="row ">

                <div class="Search_Left">
                    @{ Html.RenderPartial("~/Views/Shared/SearchEngineDestination.cshtml");}
                </div>
               
            </div>

        </div>
    </section>
 
    <div class="trust_container">
        <div class="container">
            <picture>
                <source srcset="/images/travel_icon.webp" type="image/webp" />

                <img loading="lazy" src="/images/travel_icon.png" alt="banner" />
            </picture>


        </div>
    </div>


    <section class="populal_main">
        <div class="container">
            <h2>@Model.DealHeading</h2>
            <div class="row poular_RoutesN">
                <ul id="ulDealDetails"></ul>
                <input type="hidden" id="hfdealType" value="46" />
                <input type="hidden" id="hforigin" value="" />
                <input type="hidden" id="hfdestination" value="" />
                <input type="hidden" id="hfairline" value="" />
                <input type="hidden" id="hftripType" value="2" />
                <input type="hidden" id="hfcabinClass" value="1" />
            </div>
        </div>
    </section>
    <div class="trust_pilot_con">
        <div class="container">
            <div class="row">
                <div class="tp_container">
                    <div data-romw-token="ck15c9nAI4hMGt68Hr18kHA0dMpYudzU5xxakB1kyMPLUkZFz2"></div>
                    <div data-romw-token="bf0ae0CVfZ448bq1qbjgbZ6VRnBpqA1dOabBBE7wp311G4zhrP"></div>

                </div>
            </div>
        </div>
    </div>


    <style>
        .content_con h2 {
            font-size: 16px;
            background: #e8e8e8;
            padding: 7px 7px;
            font-weight: bold;
            text-align: left;
            width: 100%;
            margin: 15px 0 8px 0;
        }

        .content_img {
            float: right;
            margin-left: 15px;
            text-align: justify;
        }

        .content100 h3 {
            background: #ccc;
            padding: 4px 6px;
            font-weight: bold;
            font-size: 17px;
            margin-top: 20px;
        }

        .content100 table tr td {
            border: 1px solid #ccc;
            padding: 6px;
            text-align: center;
        }

        .content_con p {
            font-size: 12px;
            color: #000;
            font-family: 'Poppins', sans-serif;
            text-align: justify;
            line-height: 20px;
        }

        .CitypageLink {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

            .CitypageLink li {
                float: left;
                margin: 0;
                padding: 0 8px;
                color: #000;
                font-size: 14px;
                border-right: 2px solid #ccc;
            }

                .CitypageLink li:last-child {
                    border-right: 0;
                }
				.banner_section{margin-top:-4px;}
.showBtnfaq{display:block; cursor:pointer; background:#e8e8e8; padding:6px 10px;}
.showBtnfaq i{text-align:right;float:right;}
.hidemefaq{ display:none;padding:6px 10px; border:1px solid #ccc;}
    </style>


    <div class="container">
        <div class="row">

            <div class="container-fs mg_0">
                <ul class="CitypageLink">
                    <li><a href="/" style="text-decoration-color:black;color: black;">Home</a></li>
                    <li>Deals</li>

                </ul>
            </div>


            @if (Model.AboutDescription != "")
            {
                <div class="MonthlyDeal">
                    <h2>
                        @Model.AboutHeading
                    </h2>
                    <div class="Flight_Info">
                        <div class="faq_con">
                            @Html.Raw(@Model.AboutDescription)
                        </div>
                    </div>
                </div>
            }

            @if (Model.FAQQ1 != "")
            {
                <div class="MonthlyDeal">
                    <h2>FAQs About Flights</h2>
                    <div class="Flight_Info">
                        <div class="faq_box">
                            <p class="showBtnfaq"><b>1. @Model.FAQQ1</b></p>
                            <p class="hidemefaq"> Ans: @Model.FAQANS1</p>
                        </div>
                        @if (Model.FAQQ2 != "")
                        {
                            <div class="faq_box">
                                <p class="showBtnfaq"><b>2. @Model.FAQQ2</b></p>
                                <p  class="hidemefaq"> @Model.FAQANS2</p>
                            </div>
                        }
                        @if (Model.FAQQ3 != "")
                        {
                            <div class="faq_box">
                                <p class="showBtnfaq"><b>3. @Model.FAQQ3</b></p>
                                <p  class="hidemefaq"> @Model.FAQANS3</p>
                            </div>
                        }
                        @if (Model.FAQQ4 != "")
                        {
                            <div class="faq_box">
                                <p class="showBtnfaq"><b>4. @Model.FAQQ4</b></p>
                                <p  class="hidemefaq"> @Model.FAQANS4</p>
                            </div>
                        }
                        @if (Model.FAQQ5 != "")
                        {
                            <div class="faq_box">
                                <p class="showBtnfaq"><b>5. @Model.FAQQ5</b></p>
                                <p  class="hidemefaq"> @Model.FAQANS5</p>
                            </div>
                        }
                        @if (Model.FAQQ6 != "")
                        {
                            <div class="faq_box">
                                <p class="showBtnfaq"><b>6. @Model.FAQQ6</b></p>
                                <p  class="hidemefaq"> @Model.FAQANS6</p>
                            </div>
                        }
                        @if (Model.FAQQ7 != "")
                        {
                            <div class="faq_box">
                                <p class="showBtnfaq"><b>7. @Model.FAQQ7</b></p>
                                <p  class="hidemefaq"> @Model.FAQANS7</p>
                            </div>
                        }
                        @if (Model.FAQQ8 != "")
                        {
                            <div class="faq_box">
                                <p class="showBtnfaq"><b>8. @Model.FAQQ8</b></p>
                                <p  class="hidemefaq"> @Model.FAQANS8</p>
                            </div>
                        }
                        @if (Model.FAQQ9 != "")
                        {
                            <div class="faq_box">
                                <p class="showBtnfaq"><b>9. @Model.FAQQ9</b></p>
                                <p  class="hidemefaq"> @Model.FAQANS9</p>
                            </div>
                        }
                        @if (Model.FAQQ10 != "")
                        {
                            <div class="faq_box">
                                <p><b>10. @Model.FAQQ10</b></p>
                                <p  class="hidemefaq"> @Model.FAQANS10</p>
                            </div>
                        }

                    </div>
                </div>
            }


            @if (Model.Heading1Description != "")
            {
                <div class="MonthlyDeal">
                    <h2>
                        @Model.Heading1
                    </h2>
                    <div class="Flight_Info">
                        <div class="faq_con">
                            @Html.Raw(@Model.Heading1Description)
                        </div>
                    </div>
                </div>
            }

            @if (Model.Heading2Description != "")
            {
                <div class="MonthlyDeal">
                    <h2>@Model.Heading2</h2>
                    <div class="Flight_Info">
                        <div class="faq_con">
                            @Html.Raw(@Model.Heading2Description)
                        </div>
                    </div>
                </div>
            }

            @if (Model.Heading3Description != "")
            {
                <div class="MonthlyDeal">
                    <h2>@Model.Heading3</h2>
                    <div class="Flight_Info">
                        <div class="faq_con">
                            @Html.Raw(@Model.Heading3Description)
                        </div>
                    </div>
                </div>
            }


            @if (Model.Heading4Description != "")
            {
                <div class="MonthlyDeal">
                    <h2>@Model.Heading4</h2>
                    <div class="Flight_Info">
                        <div class="faq_con">
                            @Html.Raw(@Model.Heading4Description)
                        </div>
                    </div>
                </div>
            }


            @if (Model.Heading5Description != "")
            {
                <div class="MonthlyDeal">
                    <h2>@Model.Heading5</h2>
                    <div class="Flight_Info">
                        <div class="faq_con">
                            @Html.Raw(@Model.Heading5Description)
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
   
</main>
@section scripts {
 <script>
    $('.showBtnfaq').click(function () {

    if ($(this).hasClass('active')) {
    $(this).removeClass('active');
    $('.hidemefaq').slideUp();
    } else {
    $('.hidemefaq').slideUp();
    $('.showBtnfaq').removeClass('active');
    $(this).addClass('active');
    $(this).next().filter('.hidemefaq').slideDown();
    }
    });
	 </script>
}