<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="FMJ">
    @RenderSection("AdditionalMeta", false)

   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link rel="icon" href="images/favicon.ico" type="image/x-icon" />*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- Google Tag Manager -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

})(window, document, 'script', 'dataLayer', 'GTM-NZ4KF2T');
    </script>
 
    <!-- End Google Tag Manager -->
	
	<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1610653086459666');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1610653086459666&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

    @Styles.Render("~/Content/cssIndia")
    @Scripts.Render("~/bundles/modernizr")
	
</head>
<body>
    <header>
        @*<div class="container-fluid cooki_contop " id="divCookies" style="display:none;">
            <div class="container">
                <div>
                    This website uses cookies to ensure you get the best experience.  &nbsp;<a href="/privacy-policy" target="_blank" style="color:#ff6a00;">Learn More</a>
                    <button class="btn btn-danger" onclick="setCookies(); ">Accept</button>
                </div>
            </div>
        </div>*@
        <div class="MainHead">            
            <nav>
                <div class="container">
                    <div id="toggle-icon" class="toggle-icon">
                        <img src="/images/menu.svg"alt="icon" />
                       
                    </div>
                    <div class="logo">
                        <a href="/">
                            <img src="/images/logo.svg" alt="logo" />
                            
                        </a>
                    </div>
                    <div class="mainheader_right">
                        <div class="contact_con">
                            <div class="falg_div">
                                <div class="country">
                                    <div id="country" class="select"><img src="/images/ind_icon.png" alt="icon" /><i class="fa fa-caret-down"></i></div>
                                    <div id="country-drop" class="dropdown">
                                        <ul>
                                            <li data-code="IN" data-name="India" data-cid="c41"><dfn><img src="/images/ind_icon.png" alt="icon" /> India</dfn> <em>EN</em> </li>
                                            <li data-code="US" data-name="USA" data-cid="c42"><a href="https://www.flightsmojo.com?location=usa"><dfn><img src="/images/us_icon.png" alt="icon" /> United States </dfn><em style="text-align:right;">EN</em></a></li>
                                            <li data-code="CA" data-name="Canada" data-cid="c43"><a href="https://www.flightsmojo.ca?location=canada"><dfn><img src="/images/ca_icon.png" alt="icon"/> Canada </dfn><em style="text-align:right;">EN</em></a></li>
                                            <li data-code="CA" data-name="Canada" data-cid="c43"><a href="https://www.flightsmojo.co.uk?location=uk"><dfn><img src="/images/uk_flag.png" alt="icon" /> United Kingdom </dfn><em style="text-align:right;">EN</em></a></li>
                                            <li data-code="CA" data-name="Canada" data-cid="c43"><a href="https://www.flightsmojo.ae?location=uae"><dfn><img src="/images/uae.png" alt="icon" /> UAE </dfn><em style="text-align:right;">EN AR</em></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--<p><i class="fa fa-clock-o duration-size"></i>Call US for Support</p>-->
                            @*<a href="call-to:@GlobalData.Phone"><img src="/images/ph_icon.png" /> @GlobalData.Phone</a>*@
                        </div>



                        <div class="callContainer">
                            <span><a href="/web-checkin"><img src="/images/user.svg" alt="icon" />Web Check In</a></span>
                            <span>
                                <a class="callsupport" href="#"><dfn class="ph_icon"><img src="/images/support.svg" alt="flag"/></dfn>24x7 Helpline</a>

                                <div class="call_support">
                                    <div class="arrow_support">
                                    </div><div class="header-page">
                                        <a class="call_supportnum" href="tel:@GlobalData.Phone">
                                            <img src="/images/phone.svg" class=" call_support__supimg loaded" alt="icon">
                                            <p class="call_support__title" style="margin-left:15px;">@GlobalData.Phone</p>
                                        </a><div class="call_support__middle"></div>
                                        <a class="call_supportnum" href="mailto:@GlobalData.Email">
                                            <img src="/images/mail.svg" class="call_support__supmail loaded" alt="mail-icon">
                                            <p class="call_support__title">@GlobalData.Email</p>
                                        </a>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div id="menu" class="menu">
                            <div class="links">
                                <ul>
                                    <li style="border-bottom:1px solid #ccc;"><a href="/"><img src="/images/logo.svg" alt="logo" /></a> @*<a class="" href="/contact-us"><img src="~/images/support.svg" style="width:60%;" alt="icon" /><dfn class="ph_iconmob"></dfn>*@</a>  <img src="/images/close.svg" class="menu_none" alt="icon" /></li>
                                    <li style="border-bottom:1px solid #ccc;"><a href="/">FLIGHTS</a></li>
                                    <li style="border-bottom:1px solid #ccc;"><a class="" href="#">DEALS</a></li>
                                    <li style="border-bottom:1px solid #ccc;" class="parent">
                                        <a> POPULAR DESTINATIONS <span class="arrow-icon"> <i class="fa fa-caret-right"></i> </span></a>
                                        <ul class="childs">
                                            <li><a class="" href="https://www.flightsmojo.in/city/cheap-flights-to-new-delhi-del ">Flights To New Delhi</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/city/cheap-flights-to-bangalore-blr">Flights To Bangalore</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/city/cheap-flights-to-hyderabad-hyd">Flights To Hyderabad</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/city/cheap-flights-to-chennai-maa">Flights To Chennai</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/city/cheap-flights-to-mumbai-bom">Flights To Mumbai</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/city/cheap-flights-to-kolkata-ccu">Flights To Kolkata</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/city/cheap-flights-to-ahmedabad-amd">Flights To Ahmedabad</a></li>
                                        </ul>
                                    </li>
                                    <li style="border-bottom:1px solid #ccc;" class="parent">
                                        <a href="#">POPULAR AIRLINE <span class="arrow-icon"> <i class="fa fa-caret-right"></i> </span></a>
                                        <ul class="childs">
                                            <li><a class="" href="https://www.flightsmojo.in/airline/spicejet-sg-flight-tickets">Spicejet</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/airline/vistara-vti-flight-tickets">Vistara</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/airline/indigo-igo-flight-tickets">Indigo</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/airline/air-india-ai-flight-tickets">Air India</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/airline/air-india-express-ix-flight-tickets">Air India Express</a></li>
                                            <li><a class="" href="https://www.flightsmojo.in/airline/akasa-air-qp-flight-tickets">Akasa Air</a></li>

                                        </ul>
                                    </li>
                                    <li style="border-bottom:1px solid #ccc;" class="parent">
                                        <a href="#">QUICK LINKS<span class="arrow-icon"> <i class="fa fa-caret-right"></i> </span></a>
                                        <ul class="childs">
                                            <li><a href="/about-us">About Us</a></li>
                                            <li><a href="/sitemap">Site Map</a></li>
                                            <li><a href="/contact-us">Contact Us</a></li>
                                        </ul>
                                    </li>
                                    <li class="parent" style="border-bottom:1px solid #ccc;">
                                        <a href="#">LEGAL<span class="arrow-icon"> <i class="fa fa-caret-right"></i> </span></a>
                                        <ul class="childs">
                                            <li><a href="/terms-condition">Terms & Conditions</a></li>
                                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                                            <li><a href="/user-agreement">User-agreement</a></li>
                                            <li><a href="/disclaimer">Disclaimer</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <div class="mobile_MailContact">
                                    <div class="callContainerMob">

                                        <a href="/web-checkin"><img src="/images/user.svg" alt="cal" />Web Check In</a>

                                    </div>
                                    <div class="mobile_phone">
                                        <a href="tel:@GlobalData.Phone"><img style="width:25px;vertical-align:middle;padding-right:6px;" src="/images/support.svg" alt="cal">@GlobalData.Phone</a>
                                    </div>
                                    <div class="mobile_mail">
                                        <a href="mailto:@GlobalData.Email"><img style="width:25px;vertical-align:middle;padding-right:6px;" src="/images/mail.svg" alt="mail-icon">@GlobalData.Email</a>
                                    </div>
                                </div>
                                <div class="menu_flag">
                                    <a class="slide-toggle"><dfn><img src="/images/ind_icon.png" alt="icon" style="transform:rotate(0deg)" /> India <img src="/images/right_icon.svg" alt="icon" style="width:15px;transform: rotate(90deg);vertical-align:middle;"></dfn> <em style="text-align:right;"><span style="padding-right:5px; color:#ff6a00; font-size:15px;">₹</span>INR</em><img src="/images/right_icon.svg" alt="icon" style="width:15px;transform: rotate(90deg);vertical-align:middle;"> </a>
                                </div>

                            </div>
                            <div class="mobile_Country">
                                <ul>
                                    <li><a href="/" style="text-align:right;width:95%;display:inline-block;"><img src="/images/close.svg" class="flag_none" alt="icon" style="width:25px;"> </a></li>
                                    <li data-code="IN" data-name="India" data-cid="c41"><dfn><img src="/images/ind_icon.png" alt="icon" /> India</dfn> <em>EN</em> </li>
                                    <li data-code="US" data-name="USA" data-cid="c42"><a href="https://flightsmojo.com?location=usa"><dfn><img src="/images/us_icon.png" alt="icon" /> United States </dfn><em style="text-align:right;">EN</em></a></li>
                                    <li data-code="CA" data-name="Canada" data-cid="c43"><a href="https://flightsmojo.ca?location=canada"><dfn><img src="/images/ca_icon.png" alt="icon" /> Canada </dfn><em style="text-align:right;">EN</em></a></li>
                                    <li data-code="CA" data-name="Canada" data-cid="c43"><a href="https://flightsmojo.co.uk?location=uk"><dfn><img src="/images/uk_flag.png" alt="icon" /> United Kingdom </dfn><em style="text-align:right;">EN</em></a></li>
                                    <li data-code="CA" data-name="Canada" data-cid="c43"><a href="https://flightsmojo.ae?location=uae"><dfn><img src="/images/uae.png" alt="icon" />UAE </dfn><em style="text-align:right;">EN AR</em></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
       
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="main_footer">
            <div class="container">
                <div class="footer_con">
                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="footer_company">
                                <h6>QUICK LINKS</h6>
                                <span></span>
                                <ul>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li><a href="/disclaimer">Disclaimer</a></li>
                                    <li><a href="/contact-us">Contact Us</a></li>
                                    <li><a href="/sitemap">Site Map</a></li>                             

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="footer_destination">
                                <h6>LEGAL</h6>
                                <span></span>
                                <ul>
                                    <li><a href="/terms-condition">Terms & Conditions</a></li>
                                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                                    <li><a href="/user-agreement">User-agreement</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="footer_destination">
                                <h6>DESTINATIONS</h6>
                                <span></span>
                                <ul>
                                    <li><a href="/top-international-destinations">International Destinations</a> </li>
                                    <li><a href="/first-class-flights">First and Business Class</a> </li>
                                    <li><a href="/last-minute-flights">Last Minute Flights</a> </li>
									<li><a href="/flights">Flights</a> </li>
                                    <li><a href="/airline">Airlines</a> </li>
									<li><a href="/deals">Deals</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
                            <div class="footer_touch">
                                <h6>GET IN TOUCH</h6>
                                <span></span>
                                <div class="newslatter">
                                    <h6>Newsletter!</h6>
                                    <input type="text" placeholder="Enter Your mail" />
                                    <button>Subscribe</button>

                                    <a href="mailto:@GlobalData.Email"><img src="/images/mail_white.svg" alt="icon"/>@GlobalData.Email</a>
                                </div>
                                <div class="social_link">
                                    <ul>
                                        <li><a class="fb_icon" href="https://www.facebook.com/flightsmojoin/" target="_blank" onclick="SetSocialMedia('facebook')"><img src="/images/facebook.svg" alt="fb" /></a></li>
                                        <li><a class="insta_icon" href="https://www.instagram.com/flightsmojoindia/" target="_blank" onclick="SetSocialMedia('instagram')"><img src="/images/instagram.svg" alt="instagram" /></a></li>   
                                        <li><a href="https://twitter.com/FlightsMojo" target="_blank"><img src="/images/twitter.svg" alt="twitter" /></a></li>
                                        <li><a href="https://www.linkedin.com/company/flightsmojo/" target="_blank"><img src="/images/linkedin.svg" alt="linkedin" /></a></li>
                                        <li><a href="https://wa.me/+919205544546" target="_blank"><img src="/images/whatsapp_white.svg" alt="linkedin" /></a></li>                                       
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <p>Copyright <span><i class="fa fa-copyright" aria-hidden="true"></i> </span>2015-2024 FlightsMojo Bookings Pvt. Ltd.</p>
                </div>
            </div>
        </div> 
    </footer>
    @*<div class="container-fluid cooki_con" id="divCookies1" style="display:none;">
        <div class="container">
            <div>
                We use cookies to give you the best and the most relevant website experience. Kindly accept and for more details about cookies click on &nbsp;<a style="color:#ff6a00;" href="/privacy-policy" target="_blank">Privacy Policy</a>
                <button class="btn btn-danger" onclick="setCookies();">Accept</button>
            </div>
        </div>
    </div>*@

    <div class="searach_popup" id="" style="display:none;">
        <form id="flightSearch1" action="/Flight/SearchingFlight_se" method="post">
            <div class="close_btn"><a><img src="/images/closewhite.svg" alt="icon"  style="width:25px;"/></a></div>
            <div class="destin_name">
                Flight
                <span id="seFrom"></span> To <span id="seTo"></span>
            </div>
            <div class="trip_type">
                <div class="one_way_trip"><img src="/images/calendar.svg" alt="cal" style="width:25px;" /><input type="text" id="se_departure_date" name="se_departure_date" placeholder="YYYY-MM-DD" value="@(System.DateTime.Today.AddDays(1).ToString("yyyy-MM-dd"))" /></div>
                <div class="round_trip"><img src="/images/calendar2.svg" alt="cal" style="width:25px;" /><input type="text" id="se_return_date" name="se_return_date" placeholder="YYYY-MM-DD" value="@(System.DateTime.Today.AddDays(8).ToString("yyyy-MM-dd"))" /></div>
            </div>
            <div class="trip_type2" id="travellerDiv2">
                <div class="trip_type2_trav"><input type="text" id="se_txtPaxDetail" name="class" placeholder="1 Traveller , Economy" autocomplete="off" /><span class="PaxDropArrow2"><i class="fa fa-chevron-down"></i></span></div>
                <div class="round_trip2_btn">
                    <input type="submit" class="" onclick="return se_submitForm();" value="Search" />
                </div>
                <div class="passenger-div2" style="display: none; background-color:#fff;">
                    <div class="passenger-div-content2">
                        <p style="font-size:12px;" id="class-txt">Class : </p>
                        <select class="select-class2 home-select-class" id="se_Cabin" name="se_Cabin" onchange="se_setPaxDropBox();">
                            <option value="1">Economy</option>
                            <option value="2">Premium Economy</option>
                            <option value="3">Business</option>
                            <option value="4">First</option>
                        </select>
                    </div>
                    <div style="margin-top:0;" class="select-passenger">
                        <div class="select-passenger-content">
                            <div class="adult-row">
                                <div class="adult-left">
                                    <p style="font-size:12px;" class="adult-txt">
                                        Adults<br>
                                        <span class="adult-txt-content">11+ Years</span>
                                    </p>
                                </div>
                                <div class="adult-right">
                                    <div class="adult-minus qtyminus" onclick="se_MinusPax('se_Adult');">
                                        <p class="adult-minus-txt">-</p>
                                    </div>
                                    <input id="se_Adult" name="se_Adult" type="text" value="1" class="qtynumber" readonly="readonly" />
                                    <div class="adult-plus qtyminus" onclick="se_PlusPax('se_Adult');">
                                        <p class="adult-minus-txt">+</p>
                                    </div>
                                </div>
                            </div>
                            <div class="children-row">
                                <div class="adult-left">
                                    <p style="font-size:12px;" class="adult-txt">
                                        Children<br>
                                        <span class="adult-txt-content">2 - 11 Years</span>
                                    </p>
                                </div>
                                <div class="children-right">
                                    <div class="adult-minus qtyminus" onclick="se_MinusPax('se_Child');">
                                        <p class="adult-minus-txt">-</p>
                                    </div>
                                    <input id="se_Child" name="se_Child" type="text" value="0" class="qtynumber" readonly="readonly" />
                                    <div class="adult-plus qtyminus" onclick="se_PlusPax('se_Child');">
                                        <p class="adult-minus-txt">+</p>
                                    </div>
                                </div>
                            </div>
                            <div class="infants-row">
                                <div class="adult-left">
                                    <p style="font-size:12px;" class="adult-txt">
                                        Infants<br>
                                        <span class="adult-txt-content"> &lt; 2 Years</span>
                                    </p>
                                </div>
                                <div class="infants-right">
                                    <div class="adult-minus qtyminus" onclick="se_MinusPax('se_Infant');">
                                        <p class="adult-minus-txt">-</p>
                                    </div>
                                    <input id="se_Infant" name="se_Infant" type="text" value="0" class="qtynumber" readonly="readonly" />
                                    <div class="adult-plus qtyminus" onclick="se_PlusPax('se_Infant');">
                                        <p class="adult-minus-txt">+</p>
                                    </div>
                                </div>
                            </div>
                            <div class="infants-row" style="display:none;">
                                <div class="adult-left">
                                    <p class="adult-txt">
                                        Infants WithSeat<br>
                                        <span class="adult-txt-content"> < 2 Years</span>
                                    </p>
                                </div>
                                <div class="infants-right">
                                    <div class="adult-minus qtyminus" onclick="se_MinusPax('se_InfantWs');">
                                        <p class="adult-minus-txt">-</p>
                                    </div>
                                    <input id="se_InfantWs" name="se_InfantWs" type="text" value="0" class="qtynumber" readonly="readonly" />
                                    <div class="adult-plus qtyminus" onclick="se_PlusPax('se_InfantWs');">
                                        <p class="adult-minus-txt">+</p>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn done-btn pull-right close-txt closePaxDiv2">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <input id="se_fromCity" name="se_fromCity" type="hidden" />
            <input id="se_toCity" name="se_toCity" type="hidden" />
            <input type="hidden" id="se_hfTripType" name="se_hfTripType" />
        </form>
    </div>

    @Scripts.Render("~/bundles/MojoIndiaJs")

    @RenderSection("scripts", required: false)
    <script>

        $(document).ready(function () {
            $('#menu').bind('click', function (event) {

                $("#mainnav ul").animate({
                    width: "toggle"
                });
            });
            $(window).resize(function () {
                var w = $(window).width();
                if (w > 768) {
                    $('#mainnav ul').removeAttr('style');
                }
            });
        });

        function countryDropdown(seletor) {
            var Selected = $(seletor);
            var Drop = $(seletor + '-drop');
            var DropItem = Drop.find('li');

            Selected.click(function () {
                Selected.toggleClass('open');
                Drop.toggle();
            });

            Drop.find('li').click(function () {
                Selected.removeClass('open');
                Drop.hide();

                var item = $(this);
                Selected.html(item.html());
            });


        }
        $(document).ready(function () {
            $(".parent a").click(function (e) {

                var childs = $(this).next('.childs');
                $(childs[0]).slideToggle();


                var icon = $(this).find('.arrow-icon');
                $(icon[0]).toggleClass('rotate');

                //e.preventDefault();
            })

           
            $("#toggle-icon").click(function () {               
            $('#menu').toggle('animate');
                });
           
                $(".menu_none").click(function () {
                    $("#menu").toggle('animate');   

            })
        });
        countryDropdown('#country');

        $(document).ready(function () {
            $('.callsupport').click(function () {
                $('.call_support').slideToggle("fast");
                
            });
        });
        $(document).ready(function () {
            $(".slide-toggle").click(function () {
                $(".mobile_Country").animate({
                    width: "toggle"
                });

            });
            $(".flag_none").click(function () {
                $(".mobile_Country").hide({
                    
                });
            });
        });
    </script>
<!-- Google Tag Manager (noscript) -->

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZ4KF2T"

height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->
<script>

document.addEventListener('gesturestart', function (e) {   e.preventDefault(); });
 
</script>


</body>
</html>