@model Core.Flight.FlightBookingResponse
@using Core;

@if (Model != null)
{
    <div style="font-family:Arial, Helvetica, sans-serif; width:100%; margin:0 auto;">
        <table cellpadding="0" cellspacing="0" align="center" border="0" style="width:800px;  text-align:center; font-size:12px; line-height:30px; font-family:Arial, Helvetica, sans-serif; box-sizing:border-box;">
            <tr>
                <td align="center" valign="top">
                    <table cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff; border:1px solid #ccc; border-collapse:collapse; width:100%; font-family:Arial, Helvetica, sans-serif;">
                        <tr style="border-bottom:1px solid #ccc;">
                            <td>
                                <table style="width:100%;">
                                    <tr colspan="3">
                                        <td style="text-align:left;width:49%; padding-right:15px;"><img style="width:200px;" src="https://www.flightsmojo.com/images/logo.png" /></td>
                                        <td style="text-align:right;width:49%; padding-right:15px;">
                                            <p style="margin:0; padding:0; font-size:13px; font-weight:bold;">CUSTOMER SUPPORT</p><span style="color:#ff2a00; font-size:20px;font-weight:bold;">@GlobalData.Phone</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" style="padding:10px;">
                                            @if (Model.bookingStatus == BookingStatus.Ticketed || Model.bookingStatus == BookingStatus.Confirmed)
                                            {
                                                <span style="color:#000; font-size:15px; padding-right:30px;">Flight <b style="padding-left:10px;">E-ticket</b></span>
                                            }
                                            <span style="color:#000; font-size:15px; padding-left:30px;">Booking Reference Number: <b>@Model.bookingID</b></span>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td colspan="6" style="padding:10px; ">

                                            @if (Model.bookingStatus == BookingStatus.Ticketed)
                                            {
                                                <table style="width:100%; padding:10px;background:#18A160; border-radius:10px 10px 0 0;">
                                                    <tr>
                                                        <td style="padding-left:40px;">
                                                            <p style="color:#fff; font-size:13px; margin:0;"><b>Congratulations!…</b></p><span style="font-size:15px; color:#fff;">Your tickets have been successfully booked. Please find your booking details below:</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                            else if (Model.bookingStatus == BookingStatus.Confirmed)
                                            {
                                                <table style="width:100%; padding:10px;background:#18A160; border-radius:10px 10px 0 0;">
                                                    <tr>
                                                        <td style="padding-left:40px;">
                                                            <p style="color:#fff; font-size:13px; margin:0;"><b>Congratulations!…</b></p><span style="font-size:15px; color:#fff;">Your booking is confirmed and the e-ticket will be emailed to you shortly.</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }

                                            else if (Model.bookingStatus == BookingStatus.Failed)
                                            {
                                                <table style="width:100%; padding:10px;background:#B00505; border-radius:10px 10px 0 0;">
                                                    <tr>
                                                        <td style="padding-left:40px;">
                                                            <p style="color:#fff; font-size:13px; margin:0;"></p><span style="font-size:15px; color:#fff;">Your booking is currently in a failed status due to limited seat availability or an expired session, which is an exceptional scenario. Please rest assured, we are working to resolve the issue and will update you within 30 minutes regarding booking confirmation or refund. Avoid creating duplicate bookings until the final status is updated. For queries, contact us at @GlobalData.Phone.</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }

                                            else if (Model.bookingStatus == BookingStatus.Cancelled)
                                            {
                                                <table style="width:100%; padding:10px;background:#B00505; border-radius:10px 10px 0 0;">
                                                    <tr>
                                                        <td style="padding-left:40px;">
                                                            <p style="color:#fff; font-size:13px; margin:0;"></p><span style="font-size:15px; color:#fff;">Your booking has been successfully cancelled. Your financial institution will credit any applicable refund, using the original form of payment within next 72 hours.</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                            else if (Model.bookingStatus == BookingStatus.Pending)
                                            {
                                                <table style="width:100%; padding:10px;background:#056DB0; border-radius:10px 10px 0 0;">
                                                    <tr>
                                                        <td style="padding-left:40px;">
                                                            <p style="color:#fff; font-size:13px; margin:0;"></p><span style="font-size:15px; color:#fff;">We’re sorry. There’s been a problem with your booking. We know it’s annoying, but it happens. There’s no need to worry, we are trying to resolve the issue and will update you shortly.</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                            else
                                            {
                                                <table style="width:100%; padding:10px;background:#056DB0; border-radius:10px 10px 0 0;">
                                                    <tr>
                                                        <td style="padding-left:40px;">
                                                            <p style="color:#fff; font-size:13px; margin:0;"></p>
                                                            <span style="font-size:15px; color:#fff;">
                                                                Your booking is currently being processed, Please wait for next 30 minutes while we confirm your booking. Avoid creating duplicate bookings until the final status is updated.
                                                                Once ticketing is completed, tickets will be sent via email/WhatsApp. Full refund will be issued if booking confirmation isn't possible. For any queries, contact us at @GlobalData.Phone.
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }

                                        </td>
                                    </tr>
                                    @if (Model.passengerDetails != null)
                                    {
                                        <tr>
                                            <td colspan="6" style="padding:10px ;">
                                                <table cellpadding="0" cellspacing="0" style="width:100%; border:1px solid #ccc; padding:10px;">
                                                    <tr>
                                                        <td colspan="6"><p style="border-bottom:1px solid #ccc;  padding:4px 0px; font-size:14px; font-weight:bold; margin:0;">PASSENGER NAME</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b style="font-size:13px;  margin:0;">NAME</b></td>
                                                        @if (!string.IsNullOrEmpty(Model.passengerDetails.FirstOrDefault().ticketNo))
                                                        {
                                                            <td><b style="font-size:13px;  margin:0;">TICKET NO.</b></td>
                                                        }
                                                        <td><b style="font-size:13px;  margin:0;">Status</b></td>
                                                    </tr>
                                                    @foreach (var pax in Model.passengerDetails)
                                                    {
                                                        <tr>
                                                            <td><b style="  font-size:12px;  margin:0;">@(pax.title + " " + pax.firstName + " " + pax.lastName)</b></td>
                                                            @if (!string.IsNullOrEmpty(pax.ticketNo))
                                                            {
                                                                <td>@pax.ticketNo</td>
                                                            }
                                                            <td style="padding-bottom:5px">
                                                                @if (Model.bookingStatus == BookingStatus.Ticketed)
                                                                {
                                                                    <span style="color:#fff; Background:#18A160; padding:5px 10px; border-radius:15px; font-size:12px;line-height:25px;">@((BookingStatus)Model.bookingStatus)</span>
                                                                }
                                                                else if (Model.bookingStatus == BookingStatus.Confirmed)
                                                                {<span style="color:#fff; Background:#18A160; padding:5px 10px; border-radius:15px;">@((BookingStatus)Model.bookingStatus)</span> }
                                                                else if (Model.bookingStatus == BookingStatus.Failed)
                                                                {<span style="color:#fff; Background:#B00505; padding:5px 10px; border-radius:15px;">@((BookingStatus)Model.bookingStatus)</span> }
                                                                else if (Model.bookingStatus == BookingStatus.Cancelled)
                                                                {<span style="color:#fff; Background:#B00505; padding:5px 10px; border-radius:15px;">@((BookingStatus)Model.bookingStatus)</span> }
                                                                else if (Model.bookingStatus == BookingStatus.Pending)
                                                                {<span style="color:#fff; Background:#056DB0; padding:5px 10px; border-radius:15px;">@((BookingStatus)Model.bookingStatus)</span> }
                                                                else if (Model.bookingStatus == BookingStatus.InProgress)
                                                                {<span style="color:#fff; Background:#056DB0; padding:5px 10px; border-radius:15px;">@((BookingStatus)Model.bookingStatus)</span> }
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                    @foreach (var result in Model.flightResult)
                                    {
                                        foreach (var fs in result.FlightSegments)
                                        {
                                            foreach (var seg in fs.Segments)
                                            {
                                                var AirportFrom1 = Model.airport.Where(k => k.airportCode == seg.Origin).FirstOrDefault();
                                                var AirportTo1 = Model.airport.Where(k => k.airportCode == seg.Destination).FirstOrDefault();
                                                var airline = Model.airline.Where(k => k.code == seg.Airline).FirstOrDefault();
                                                <tr>
                                                    <td colspan="6" style="padding:10px ;">
                                                        <table cellpadding="0" cellspacing="0" style="width:100%; border:1px solid #ccc; padding:10px;">
                                                            <tr>
                                                                <td colspan="2" style="border-bottom:1px solid #ccc;text-align:left;"><span style="font-size:13px; font-weight:bold; margin:0; ">@(seg.DepTime.ToString("ddd, dd MMM yyyy"))</span></td>
                                                                <td colspan="2" style="border-bottom:1px solid #ccc;text-align:center;"><span style="font-size:13px; font-weight:bold; margin:0;">@(AirportFrom1.cityName) - @(AirportTo1.cityName)</span></td>
                                                                <td colspan="2" style="border-bottom:1px solid #ccc;text-align:right;"><span style="font-size:13px; font-weight:bold; margin:0;">@(seg.Duration > 0 ? ((seg.Duration / 60) + "hr " + (seg.Duration % 60) + "min") : "Non Stop")</span></td>
                                                                <td colspan="2" style="border-bottom:1px solid #ccc;text-align:right;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"><b style="font-size:13px; font-weight:bold;line-height:25px;"> Airline</b></td>
                                                                <td><b style="font-size:13px; font-weight:bold;line-height:25px;">Departure</b></td>
                                                                <td><b style="font-size:13px; font-weight:bold;line-height:25px;">Arrival</b></td>
                                                                <td><b style="font-size:13px; font-weight:bold;line-height:25px;">Duration</b></td>
                                                                <td><b style="font-size:13px; font-weight:bold;line-height:25px;">Pnr</b></td>
                                                                @if (Model.travelType != Core.TravelType.International)
                                                                {
                                                                    if (Model.bookingStatus == BookingStatus.Ticketed || Model.bookingStatus == BookingStatus.Confirmed)
                                                                    {
                                                                        <td><b style="font-size:13px; font-weight:bold;line-height:25px;">Baggage/Cabin Baggage</b></td>
                                                                    }
                                                                }


                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <span><img src="https://www.flightsmojo.in/images/flight_small/@(airline.code).gif"></span>
                                                                    <p style="margin:0;padding:0;font-size:12px;">@(airline.name + "-" + airline.code + "-" + seg.FlightNumber)</p>
                                                                </td>
                                                                <td>
                                                                    <b style="font-size:12px;">@AirportFrom1.cityName @(seg.DepTime.ToString("hh:mm tt"))</b>
                                                                    @if (!string.IsNullOrEmpty(seg.FromTerminal))
                                                                    {
                                                                        <p style="margin:0;padding:0;font-size:12px;">Terminal:@seg.FromTerminal</p>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <b style="font-size:12px;">@AirportTo1.cityName @(seg.ArrTime.ToString("hh:mm tt"))</b>
                                                                    @if (!string.IsNullOrEmpty(seg.ToTerminal))
                                                                    {
                                                                        <p style="margin:0;padding:0;font-size:12px;">Terminal:@seg.ToTerminal</p>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <span style="font-size:12px;">@(seg.Duration > 0 ? ((seg.Duration / 60) + "hr " + (seg.Duration % 60) + "min") : "Non Stop")</span>
                                                                </td>
                                                                @if (fs.SegName.Equals("Depart", StringComparison.OrdinalIgnoreCase))
                                                                {
                                                                    if (!string.IsNullOrEmpty(Model.PNR))
                                                                    {
                                                                        <td style="font-size:12px;">@Model.PNR</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="font-size:12px;">Pending</td>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <td>@(string.IsNullOrEmpty(Model.ReturnPNR) ? "Pending" : (Model.ReturnPNR))</td>
                                                                }
                                                                @if (Model.travelType != Core.TravelType.International)
                                                                {
                                                                    if (Model.bookingStatus == BookingStatus.Ticketed || Model.bookingStatus == BookingStatus.Confirmed)
                                                                    {
                                                                        {
                                                                            <td>
                                                                                <span style="font-size:12px;">15KG / 7KG</span>
                                                                            </td>
                                                                        }
                                                                    }
                                                                }
                                                            </tr>

                                                            @if (seg.layOverTime > 0)
                                                            {
                                                                <tr>
                                                                    <td align="center" colspan="6"><span style="background:#faf5bd; border-radius:15px; font-size:12px; color:#333; padding:6px 20px; text-align:center;">@AirportTo1.cityName (@AirportTo1.airportCode) - @((seg.layOverTime / 60) + "hr" + (seg.layOverTime % 60) + "min Layover in ")</span></td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                    <tr>
                                        <th colspan="6" style="padding:10px ;">
                                            <table cellpadding="0" cellspacing="0" style="width:100%; border:1px solid #ccc; padding:10px;">
                                                <tr>
                                                    <th colspan="2" style="text-align:center; font-size:13px;"><b>BaseFare</b></th>
                                                    <th style="text-align:center; font-size:13px;"><b>Taxes</b></th>
                                                    <th style="text-align:center; font-size:13px;"><b>Convenience Fee</b></th>

                                                    @if (Model.CancellaionPolicyAmt > 0)
                                                    {
                                                        <th style="text-align:center; font-size:13px;">CancellaionPolicyAmt</th>
                                                    }
                                                    @if (Model.RefundPolicyAmt > 0)
                                                    {
                                                        <th style="text-align:center; font-size:13px;">RefundPolicyAmt</th>
                                                    }
                                                    <th style="text-align:center; font-size:13px;"><b>Total</b></th>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="text-align:center; font-size:12px; padding-top:6px;">
                                                        <p style="margin:0;padding:0;font-size:12px;padding-top:6px;">@((Model.sumFare.BaseFare).ToString("f2"))</p>
                                                    </td>
                                                    <td style="text-align:center; font-size:12px;padding-top:6px;">
                                                        <p style="margin:0;padding:0;font-size:12px;padding-top:6px;">@(((Model.sumFare.Tax + Model.sumFare.Markup + Model.fareIncreaseAmount) - Model.sumFare.CommissionEarned).ToString("f2"))</p>
                                                    </td>
                                                    <td style="text-align:center; font-size:12px;padding-top:6px;">
                                                        <p style="margin:0;padding:0;font-size:12px;">@(Model.conveniencefee)</p>
                                                    </td>

                                                    @if (Model.CancellaionPolicyAmt > 0)
                                                    {
                                                        <td style="text-align:center; font-size:12px;padding-top:6px;">@Model.CancellaionPolicyAmt</td>
                                                    }
                                                    @if (Model.RefundPolicyAmt > 0)
                                                    {
                                                        <td style="text-align:center; font-size:12px;padding-top:6px;">@Model.RefundPolicyAmt</td>
                                                    }
                                                    <td style="text-align:center; font-size:12px;padding-top:6px;">
                                                        <p style="margin:0;padding:0;font-size:12px;">@(((Model.sumFare.grandTotal + Model.fareIncreaseAmount + Model.conveniencefee + Model.CancellaionPolicyAmt + Model.RefundPolicyAmt)).ToString("f2"))</p>
                                                    </td>

                                                </tr>

                                            </table>
                                        </th>
                                    </tr>

                                    <tr>
                                        <td colspan="6" style="padding:0 10px;"><p style="font-size:16px; color:#fff; padding:6px 10px; background:#49494a; margin:0;">Fare Rules</p></td>
                                    </tr>

                                    <tr>
                                        <td colspan="6" style="padding:0 10px;">
                                            <table width="100%" cellspacing="0" , cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <th colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;background:#f5f5f5;">
                                                            <span style="font-size:13px; color:#000;font-weight:bold;">Time Frame to cancel</span>
                                                            <p style="margin:0;padding:0;font-size:12px; color:#000;font-weight:normal;">Before scheduled departure time</p>
                                                        </th>
                                                        <th colspan="2" style="border:1px solid #ccc;padding:10px;text-align:left;background:#f5f5f5;">
                                                            <span style="font-size:13px; color:#000;font-weight:bold;">Cancellation charges</span>
                                                            <p style="margin:0;padding:0;font-size:12px; color:#000;font-weight:normal;">per passenger</p>
                                                        </th>

                                                        <th colspan="2" style="border:1px solid #ccc;padding:10px;text-align:left; background:#f5f5f5;">
                                                            <span style="font-size:13px; color:#000;font-weight:bold;">Agency Fee</span>
                                                            <p style="margin:0;padding:0;font-size:12px; color:#000;font-weight:normal;">per passenger</p>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">Cancel Before 72 hours of departure time.</td>
                                                        @if (Model.flightResult.FirstOrDefault().Fare.mojoFareType == MojoFareType.SeriesFareWithoutPNR || Model.flightResult.FirstOrDefault().Fare.mojoFareType == MojoFareType.SeriesFareWithPNR)
                                                        {
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">NON REFUNDABLE</td>
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">NON REFUNDABLE</td>
                                                        }
                                                        else
                                                        {
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">As per airlines policy</td>
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;"><i class="fa fa-rupee" aria-hidden="true"></i> 500</td>

                                                        }
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">Cancel within 72 hours &amp; before 4 hours of departure time.</td>
                                                        @if (Model.flightResult.FirstOrDefault().Fare.mojoFareType == MojoFareType.SeriesFareWithoutPNR || Model.flightResult.FirstOrDefault().Fare.mojoFareType == MojoFareType.SeriesFareWithPNR)
                                                        {
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">NON REFUNDABLE</td>
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">NON REFUNDABLE</td>
                                                        }
                                                        else
                                                        {
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">As per airlines policy</td>
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;"><i class="fa fa-rupee" aria-hidden="true"></i> 500</td>
                                                        }
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="6" style="padding:10px;">
                                            <table width="100%" cellspacing="0" , cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <th colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;background: #f5f5f5;">
                                                            <span style="font-size:13px; color:#000; font-weight:bold;">Time Frame to reschedule</span>
                                                            <p style="margin:0;padding:0;font-size:12px; color:#000;font-weight:normal;">Before scheduled departure time</p>
                                                        </th>

                                                        <th colspan="2" style="border:1px solid #ccc;padding:10px;text-align:left;background:#f5f5f5;">
                                                            <span style="font-size:13px; color:#000;font-weight:bold;">Cancellation charges</span>
                                                            <p style="margin:0;padding:0;font-size:12px; color:#000; font-weight:normal;">per passenger</p>
                                                        </th>
                                                        <th colspan="2" style="border:1px solid #ccc;padding:10px;text-align:left; background:#f5f5f5;">
                                                            <span style="font-size:13px; color:#000;font-weight:bold;">Agency Fee</span>
                                                            <p style="margin:0;padding:0;font-size:12px; color:#000;font-weight:normal;">per passenger</p>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">Reschedule before 72 hours of departure time.</td>
                                                        @if (Model.flightResult.FirstOrDefault().Fare.mojoFareType == MojoFareType.SeriesFareWithoutPNR || Model.flightResult.FirstOrDefault().Fare.mojoFareType == MojoFareType.SeriesFareWithPNR)
                                                        {
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">NON REFUNDABLE</td>
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">NON REFUNDABLE</td>
                                                        }
                                                        else
                                                        {
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">As per airlines policy</td>
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;"><i class="fa fa-rupee" aria-hidden="true"></i> 500</td>
                                                        }
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">Reschedule within 72 hours & before 4 hours of departure time.</td>

                                                        @if (Model.flightResult.FirstOrDefault().Fare.mojoFareType == MojoFareType.SeriesFareWithoutPNR || Model.flightResult.FirstOrDefault().Fare.mojoFareType == MojoFareType.SeriesFareWithPNR)
                                                        {
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">NON REFUNDABLE</td>
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">NON REFUNDABLE</td>
                                                        }
                                                        else
                                                        {
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;">As per airlines policy</td>
                                                            <td colspan="2" style="border:1px solid #ccc; text-align:left; padding:10px;font-size:12px; color:#000;"><i class="fa fa-rupee" aria-hidden="true"></i> 500</td>
                                                        }
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    @*@if (Model.FareTypeList.Contains(FareType.INSTANTPUR) || Model.FareTypeList.Contains(FareType.INST_SERIESPUR) || Model.FareTypeList.Contains(FareType.OFFER_FARE_WITHOUT_PNR) || Model.FareTypeList.Contains(FareType.OFFER_FARE_WITH_PNR) || Model.FareTypeList.Contains(FareType.OFFER_RETURN_FARE_WITHOUT_PNR))*@
                                    @if (Model.flightResult.FirstOrDefault().Fare.mojoFareType == MojoFareType.SeriesFareWithoutPNR || Model.flightResult.FirstOrDefault().Fare.mojoFareType == MojoFareType.SeriesFareWithPNR
                                        || Model.flightResult[0].Fare.mojoFareType == Core.MojoFareType.Unknown || Model.flightResult[0].Fare.FareType == Core.FareType.NONE || Model.flightResult[0].Fare.refundType == Core.RefundType.NonRefundable)
                                    {
                                        <tr>
                                            <td colspan="6" style="padding:10px ;">
                                                <table style="width:100%; padding:5px; border:1px solid #ccc; ">
                                                    <tr bgcolor="#49494a">
                                                        <td style="color:#fff; padding:6px 10px; font:bold 14 Arial, Helvetica, sans-serif;">IMPORTANT INFORMATION</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:20px;">&bull;This booking and airline PNR is <strong> 100% confirmed </strong> under Group Fare Category.</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:20px;">&bull; The traveller’s name will be displayed on the airline's website within <strong> 12 hours prior </strong> to the departure time, along with other travellers in the group PNR.</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:20px;">&bull; Web Check-in for this ticket can be done a day before the journey <strong> after 9 PM.</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:20px;">&bull; This fare type is <strong> 100% Non-Refundable, Non-Changeable & Non-Cancellable.</strong></td>
                                                    </tr>
                                                    @*<tr>
                                                            <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:20px;">&bull; This is a 100% Confirmed Ticket. However, as it is a group fare, your name will reflect on the airline’s website only 12-24 hours before departure.</td>
                                                        </tr>*@
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="6" style="padding:10px ;">
                                            <table style="width:100%; padding:5px; border:1px solid #ccc; ">
                                                <tr bgcolor="#49494a">
                                                    <td style="color:#fff; padding:6px 10px; font:bold 14 Arial, Helvetica, sans-serif;">Terms & Conditions</td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:20px;">&bull; All passengers, including children and infants, must present valid <strong>ID proof</strong> at the time of <strong>check-in</strong>.</td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:20px;">
                                                        &bull; We recommend checking in at least <strong>3 hours</strong> prior to the departure for domestic flights and <strong>4 hours</strong> prior to the departure for international flights.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:20px;">
                                                        &bull;  For cancellation requests, please contact FlightsMojo at <strong>@GlobalData.Phone</strong> to expedite the refund process from Airline.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px;">&bull; We strongly recommend to confirm your flight schedule/status before departure. Flights Mojo is not responsible for notifying schedule changes or flight cancellations by the airlines.</td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:15px;"> &bull; Use the PNR/Booking ID for any direct communication with the airline regarding this booking.</td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:15px;"> &bull; Please ensure you carry a printed copy of this e-ticket and present it at the airline counter during check-in.</td>
                                                </tr>

                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:15px;"> &bull; The service fee for cancellations or amendments with FlightsMojo is <strong>INR 500</strong>.</td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:15px;"> &bull; Ensure you recheck your baggage with your airline prior to traveling for a smooth and hassle-free experience.</td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:15px;">
                                                        &bull;Please arrange all required visas for listed countries in your itinerary before your trip to avoid airport visa or immigration issues.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:15px;">
                                                        &bull; If ticket is canceled, the Company may impose a cancellation fee per passenger per flight/sector, determined solely by the Company, without prior notice. Please note that these charges are additional to any airline cancellation fees.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:15px;">
                                                        &bull; The comprehensive terms and conditions outlined on <strong><a href="https://www.flightsmojo.in/terms-condition/">flightsmojo.in</a></strong> are referenced herein and will apply accordingly to the booking.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:15px;">
                                                        &bull;  Passengers traveling to destinations like Jammu and Srinagar cannot carry hand baggage due to security regulations.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#333; font:normal 12px Arial, Helvetica, sans-serif; padding:6px; line-height:15px;">
                                                        &bull; In addition to the aforementioned terms and conditions, those of the respective airlines will also apply to the booking. Should any inconsistency or conflict arise between these terms and conditions and those of the airlines, the latter will prevail.
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}