
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalMeta{
    <title>Flight Ticket Coupon Code on Flightsmojo use @(ViewBag.CouponCode.ToUpper()) </title>
    <meta name="description" content="Book your flight with FlightsMojo and enjoy the instant discount CouponCode @(ViewBag.CouponCode.ToUpper()). Online Flight Tickets for Domestic & International across India." />
    <meta name="keywords" content="Flight Booking, Cheap alight ticket, domestic flight, international flight, Offer,  CouponCode @(ViewBag.CouponCode.ToUpper())." />
    <link rel="canonical" href="https://www.flightsmojo.in/coupon/@(ViewBag.CouponCode)" />
    <meta name="author" content="Flights Mojo" />
    <meta name="language" content="en" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta name="Copyright" content="https://www.flightsmojo.in/" />
    <meta property="og:title" content="Flight Ticket Coupon Code on Flightsmojo use @(ViewBag.CouponCode.ToUpper())" />
        <meta property="og:description" content="Book your flight with FlightsMojo and enjoy the instant discount CouponCode @(ViewBag.CouponCode.ToUpper()). Online Flight Tickets for Domestic & International across India." />
    <meta property="og:url" content="https://www.flightsmojo.in/coupon/@(ViewBag.CouponCode)" />
    <meta property="og:type" content="Travel Agency" />
    <meta property="og:image" content="https://www.flightsmojo.in/images/logo.png" />
}






<style>
    @@media screen and (max-width: 767px) {
        .add_Banner {
            display: none;
        }
    }
</style>

<main>


    <section class="banner_section" style="background:#6dc0e5;    position: relative;">
        <div class="container ">
            <div class="row ">


                @{ Html.RenderPartial("~/Views/Shared/SearchEngine.cshtml");}


            </div>
        </div>
    </section>

    <div class="trust_container">
        <div class="container">
            <picture>
                <source srcset="/images/icon_travel.webp" type="image/webp" />

                <img loading="lazy" src="/images/icon_travel.png" alt="banner" />
            </picture>


        </div>
    </div>

    <div class="couponmain_Con">
        <div class="container">
            <div class="row">
                <div class="coupon_leftCon">
                    <div class="coupon_leftTop">

                        <div class="dicount_heading">
                            <h1>Explore Your Beloved Destination with this Coupon Discount. Make haste now!</h1>
                        </div>
                        <div class="discont_desg">
                            <div class="dicount_code">
                                <div class="Code_Top">Promo Code</div>

                                <span class="cop_Dashed"></span>
                                <div class="Code_Bottom">@ViewBag.CouponCode <span onclick="CopyText()" id="CopyText"><img src="~/images/copywhite.svg" alt="copywhite" /></span> </div>
                            </div>
                        </div>


                    </div>
                    <div class="clearfix"></div>
                    @if (ViewBag.CouponCode != null)
                    {
                        if (ViewBag.CouponCode.Equals("FM10DOM", StringComparison.OrdinalIgnoreCase))
                        {
                            <div class="discount_content">
                                <h2>What’s in it for you?</h2>
                                <ul>
                                    <li>Enjoy up to 10% off on all domestic flight bookings with Flights Mojo.</li>
                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>How to Claim Your Discount?</h2>
                                <ul>
                                    <li>Simply apply the coupon code FM10DOM at checkout, and the discount will be automatically applied to your booking.</li>

                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>Are there any other important facts to be aware of?</h2>

                                <ul>
                                    <li>The discount is valid on all domestic flights, but the maximum discount you can avail is ₹300. This offer can be used by all customers once per transaction.</li>
                                    <li>Applicable only on domestic flight bookings.</li>
                                    <li>Maximum discount of ₹300 per booking.</li>
                                    <li>Valid for 30 days from issuance.</li>
                                    <li>Cannot be combined with other promotions or offers.</li>
                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>General Terms & Conditions:</h2>

                                <ul>
                                    <li>The coupon codes are valid for online bookings made via the Flights Mojo website or mobile app.</li>
                                    <li>Discounts are applicable only to the base fare and not on taxes, fees, or surcharges.</li>
                                    <li>Flights Mojo reserves the right to modify or cancel the offer at any time.</li>
                                    <li>In case of cancellations, the coupon discount will not be refunded.</li>
                                    <li>Misuse of the coupon code, such as unauthorized or fraudulent use, may lead to disqualification from future offers.</li>
                                    <li>Coupon codes are subject to availability and Flights Mojo's discretion.</li>

                                </ul>
                            </div>
                        }
                        else if (ViewBag.CouponCode.Equals("FM15INT", StringComparison.OrdinalIgnoreCase))
                        {
                            <div class="discount_content">
                                <h2>What’s in it for you?</h2>
                                <ul>
                                    <li>Get up to 15% off on all international flight bookings and travel the world for less!</li>
                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>How to Claim Your Discount?</h2>
                                <ul>
                                    <li>Enter the coupon code FM15INT during checkout, and the discount will be applied to your total booking amount.</li>

                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>Are there any other important facts to be aware of?</h2>

                                <ul>
                                    <li>The coupon is applicable to all international flights, and the maximum discount you can avail is ₹1,500. It is valid for both new and returning customers.</li>
                                    <li>Applicable only on international flight bookings.</li>
                                    <li>Maximum discount of ₹1,500 per booking.</li>
                                    <li>Coupon valid for 30 days from issuance.</li>
                                    <li>Cannot be combined with other promotions or offers.</li>

                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>General Terms & Conditions:</h2>

                                <ul>
                                    <li>The coupon codes are valid for online bookings made via the Flights Mojo website or mobile app.</li>
                                    <li>Discounts are applicable only to the base fare and not on taxes, fees, or surcharges.</li>
                                    <li>Flights Mojo reserves the right to modify or cancel the offer at any time.</li>
                                    <li>In case of cancellations, the coupon discount will not be refunded.</li>
                                    <li>Misuse of the coupon code, such as unauthorized or fraudulent use, may lead to disqualification from future offers.</li>
                                    <li>Coupon codes are subject to availability and Flights Mojo's discretion.</li>

                                </ul>
                            </div>
                        }
                        else if (ViewBag.CouponCode.Equals("FM5ALL", StringComparison.OrdinalIgnoreCase))
                        {
                            <div class="discount_content">
                                <h2>What’s in it for you?</h2>
                                <ul>
                                    <li>Enjoy a 5% discount up to ₹200 on any flight booking, domestic or international.</li>
                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>How to Claim Your Discount?</h2>
                                <ul>
                                    <li>Apply the coupon code FM5ALL at checkout, and the discount will be automatically applied to your booking.</li>

                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>Are there any other important facts to be aware of?</h2>

                                <ul>
                                    <li>This coupon is valid on both domestic and international flights, with a maximum discount of ₹200 per booking. Available for all customers, once per transaction.</li>
                                    <li>Applicable on all domestic and international flight bookings.</li>
                                    <li>Maximum discount of ₹200 per booking.</li>
                                    <li>Valid for 30 days from issuance.</li>
                                    <li>Cannot be combined with other offers or promotions.</li>

                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>General Terms & Conditions:</h2>

                                <ul>
                                    <li>The coupon codes are valid for online bookings made via the Flights Mojo website or mobile app.</li>
                                    <li>Discounts are applicable only to the base fare and not on taxes, fees, or surcharges.</li>
                                    <li>Flights Mojo reserves the right to modify or cancel the offer at any time.</li>
                                    <li>In case of cancellations, the coupon discount will not be refunded.</li>
                                    <li>Misuse of the coupon code, such as unauthorized or fraudulent use, may lead to disqualification from future offers.</li>
                                    <li>Coupon codes are subject to availability and Flights Mojo's discretion.</li>

                                </ul>
                            </div>
                        }
                        else if (ViewBag.CouponCode.Equals("LOYALTY25"))
                        {
                            <div class="discount_content">
                                <h2>What’s in it for you?</h2>
                                <ul>
                                    <li>Loyal customers get ₹150 off on their next flight booking!</li>
                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>How to Claim Your Discount?</h2>
                                <ul>
                                    <li>Simply apply the coupon code LOYALTY25 at checkout to get ₹150 off your booking.</li>

                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>Are there any other important facts to be aware of?</h2>

                                <ul>
                                    <li>This coupon is exclusively for users who have previously booked with Flights Mojo and have a minimum booking amount of ₹2,000. It is a one-time offer.</li>

                                </ul>
                            </div>
                            <div class="discount_content">
                                <h2>General Terms & Conditions:</h2>

                                <ul>
                                    <li>The coupon codes are valid for online bookings made via the Flights Mojo website or mobile app.</li>
                                    <li>Discounts are applicable only to the base fare and not on taxes, fees, or surcharges.</li>
                                    <li>Flights Mojo reserves the right to modify or cancel the offer at any time.</li>
                                    <li>In case of cancellations, the coupon discount will not be refunded.</li>
                                    <li>Misuse of the coupon code, such as unauthorized or fraudulent use, may lead to disqualification from future offers.</li>
                                    <li>Coupon codes are subject to availability and Flights Mojo's discretion.</li>

                                </ul>
                            </div>
                        }

                    }

                </div>
            </div>
        </div>
    </div>
    <div class="trust_pilot_con">
        <div class="container">
            <div class="row">
                <div class="tp_container">
                    <div data-romw-token="ck15c9nAI4hMGt68Hr18kHA0dMpYudzU5xxakB1kyMPLUkZFz2"></div>
                    <div data-romw-token="bf0ae0CVfZ448bq1qbjgbZ6VRnBpqA1dOabBBE7wp311G4zhrP"></div>

                </div>
            </div>
        </div>
    </div>





</main>
@section scripts {
    <script>
        $('.showBtnfaq').click(function () {

            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $('.hidemefaq').slideUp();
            } else {
                $('.hidemefaq').slideUp();
                $('.showBtnfaq').removeClass('active');
                $(this).addClass('active');
                $(this).next().filter('.hidemefaq').slideDown();
            }
        });
    </script>

    <script>
        function CopyText() {
            var copyText = document.getElementById("CopyText");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
        }
    </script>

    <script src=https://reviewsonmywebsite.com/js/v2/embed.js?id =fd1f59fcc8467fb2938d974af932af56 type="text/javascript"></script>
    <script src=https://reviewsonmywebsite.com/js/v2/embed.js?id =fd1f59fcc8467fb2938d974af932af56 type="text/javascript"></script>
}
