@model Core.Flight.FlightBookingResponse
@using Core;
@using Core.Flight;

<link rel="stylesheet" href="/Content/stylesheet.css">
<link rel="stylesheet" href="/Content/PassengerCss.css">

@{
    ViewBag.Title = "Confirmation";
    Layout = null;
}
@{
    int ctr = 0;
    decimal CouponAmount = 0;
    if (Model.CouponAmount > 0 && !string.IsNullOrEmpty(Model.CouponCode))
    {
        CouponAmount = Model.CouponAmount;
    }
}
<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Flight Confirmation: Flightsmojo.in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/c3632ac11d.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <style>
        .conformTop {
            background: linear-gradient(45deg, #49494a, #ff0b00);
            width: 100%;
            float: left;
            padding: 10px 0;
            margin-bottom: 20px;
        }

            .conformTop h1 {
                font-size: 25px;
                color: #fff;
                padding: 4px 0;
            }

            .conformTop p {
                color: #fff;
                font-size: 13px;
            }

        .conformBot {
            width: 60%;
            float: left;
        }

        .conformTop span {
            background: #49494a;
            color: #FFF;
            padding: 6px 20px;
            border-radius: 10px;
            display: inline-block;
            margin-top: 6px;
            font-size: 16px;
            font-weight: bold;
            box-shadow: 0 0 2px #ffff;
        }

        .conformTop span {
            background: #49494a;
            color: #FFF;
            padding: 6px 20px;
            border-radius: 10px;
            display: inline-block;
            margin-top: 6px;
            font-size: 16px;
            font-weight: bold;
            box-shadow: 0 0 2px #fff;
        }
    </style>
    <script>
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            event: "purchase",
            ecommerce: {
                transaction_id: "@Model.bookingID",
                affiliation: "@Model.sourceMedia",
                value: @(((Model.sumFare.Tax + Model.sumFare.Markup + Model.fareIncreaseAmount + Model.sumFare.ServiceFee + Model.sumFare.OtherCharges).ToString("f2"))),
                currency: "INR",
                coupon: "@Model.CouponCode",
            }
        });
    </script>
    @*value: @(((Model.sumFare.grandTotal+Model.fareIncreaseAmount+Model.conveniencefee)-CouponAmount).ToString("f2")),*@
    <!-- Google Tag Manager -->

    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

        })(window,document,'script','dataLayer','GTM-NZ4KF2T');</script>

    <!-- End Google Tag Manager -->
</head>

<body>
    <div class="conformTop">
        <div class="container">

            @if (Model.bookingStatus == BookingStatus.Ticketed)
            {
                <h1>Congratulations!</h1>
                <br />
                <h1>Your tickets have been successfully booked. Please find your booking details below:</h1>
            }
            else if (Model.bookingStatus == BookingStatus.Failed)
            {
                <h1>We are Sorry!</h1>
                <br />
                <h4 style="text-align:justify;color:white;">
                    Your booking has failed. Due to real time availability, your booking was not completed successfully.
                    We are trying to complete the booking process manually on our end. We will update you the final status within next 30 minutes.
                    In case we are unable to confirm, a full refund will be processed back to the original form of payment.
                    Please do not create any duplicate booking until the final status is updated.s
                    Please call us at @GlobalData.Phone for any further clarification.
                </h4>
            }
            else
            {
                <h1>
                    Your booking is in Progress! <img src="~/images/1495.gif" />
                </h1>

                <br />
                <h4 style="text-align:justify;color:white;">
                    Due to limited seat availability, your booking is in progress.
                    Please wait for the next 1 hour while the system confirms your booking. We’ll notify you once the booking is confirmed.
                    In case we are unable to confirm, a full refund will be processed back to the original form of payment.
                    Please do not create any duplicate booking until the final status is updated.
                    Please call us at @GlobalData.Phone for any further clarification.
                </h4>
            }



            <div class="conformBot">

                @if (Model.paymentStatus == PaymentStatus.Completed)
                {
                    <span>Payment Status: @Model.paymentStatus.ToString()</span>
                }
                else
                {
                    <span>Payment Status: @Model.paymentStatus.ToString()</span>
                }

                @if (Model.bookingStatus == BookingStatus.Ticketed)
                {
                    <span class="spabookinRef">Booking Status : @Model.bookingStatus.ToString()</span>
                }
                else if (Model.bookingStatus == BookingStatus.Confirmed)
                {
                    <span class="spabookinRef">Booking Status : @Model.bookingStatus.ToString()</span>
                }
                else if (Model.bookingStatus == BookingStatus.Failed)
                {
                    <span class="spabookinRef">Booking Status : @Model.bookingStatus.ToString()</span>
                }
                else if (Model.bookingStatus == BookingStatus.Cancelled)
                {
                    <span class="spabookinRef">Booking Status : @Model.bookingStatus.ToString()</span>
                }
                else
                {
                    <span class="spabookinRef">Booking Status : InProgress</span>
                }

            </div>
        </div>
    </div>
    <div class="container">
        <div class="bookinStatus">
            <span class="spanHeader">BOOKING DETAILS</span>
            <div class="divBookingType">
                <ul>
                    <li><b>Email Address</b></li>
                    <li><p>@Model.emailID</p></li>
                </ul>
            </div>
            <div class="divBookingType">
                <ul>
                    <li><b>Contact No</b></li>
                    <li><p>@Model.phoneNo</p></li>
                </ul>
            </div>
            <div class="divBookingType">
                <ul>
                    <li><b>Booking Id</b></li>
                    <li><p>@Model.bookingID</p></li>
                </ul>
            </div>
        </div>
        <div class="bookinStatus">
            <span class="spanHeader">FLIGHT ITINERARY</span>
            <div class="listing_con">

                <div class="resul_deatil" style="display:block !important">
                    <div class="outbond">
                        @foreach (var result in Model.flightResult)
                        {
                            foreach (var fs in result.FlightSegments)
                            {
                                <div class="outbond_top">
                                    @if (fs.SegName.Equals("Return", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <div class="outbond_topL"><h2><img src="/images/inbond.png" />@fs.SegName.ToUpper()</h2></div>
                                        <div class="outbond_topR">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="outbond_topL"><img src="/images/outbond.png" /><h2>@fs.SegName.ToUpper()</h2></div>
                                        <div class="outbond_topR">
                                        </div>
                                    }
                                </div>
                                <div class="conf_itenary">
                                    @foreach (var seg in fs.Segments)
                                    {
                                        var AirportFrom = Model.airport.Where(k => k.airportCode == seg.Origin).FirstOrDefault();
                                        var AirportTo = Model.airport.Where(k => k.airportCode == seg.Destination).FirstOrDefault();
                                        var airline = Model.airline.Where(k => k.code == seg.Airline).FirstOrDefault();

                                        <div class="indiaConf_top">
                                            <ul>
                                                <li><b>@(seg.DepTime.ToString("ddd, dd MMM yyyy"))</b></li>
                                                <li><b>@(AirportFrom.cityName) - @(AirportTo.cityName)</b></li>
                                                <li><b>@(seg.Duration > 0 ? ((seg.Duration / 60) + "hr " + (seg.Duration % 60) + "min") : "Non Stop")</b></li>
                                            </ul>
                                            <div class="outbond_flight">
                                                <div class="outbond_conf">
                                                    <p>@airline.name.ToUpper()</p>
                                                    <img src="/images/flight_small/@(airline.code).gif" alt="@(airline.code)" title="@(airline.name)">
                                                </div>
                                                <div class="outbond_one_con">
                                                    <p>DESTINATION</p>
                                                    <span><b>@(AirportFrom.cityName)</b></span>
                                                </div>
                                                <div class="outbond_two_con">
                                                    <p>ARRIVAL</p>
                                                    <span><b>@(AirportTo.cityName)</b></span>
                                                </div>
                                                <div class="outbond_third_con">
                                                    <p>DURATION</p>
                                                    <span><b>@(seg.DepTime.ToString("ddd, | hh:mm tt | MMM dd"))</b></span>
                                                </div>
                                                <div class="outbond_four_con">
                                                    <p>PNR</p>
                                                    @if (fs.SegName.Equals("Depart", StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <span><b>@(string.IsNullOrEmpty(Model.PNR) ? "Pending" : (Model.PNR))</b></span>
                                                    }
                                                    else
                                                    {
                                                        <span><b>@(string.IsNullOrEmpty(Model.ReturnPNR) ? "Pending" : (Model.ReturnPNR))</b></span>
                                                    }

                                                </div>
                                            </div>
                                            @if (seg.layOverTime > 0)
                                            {
                                                <div class="layover_conf">
                                                    <span>
                                                        <span>@AirportTo.cityName (@AirportTo.airportCode) | @((seg.layOverTime / 60) + "hr " + (seg.layOverTime % 60) + "min") Layover</span>
                                                    </span>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="bookinStatus">
            <span class="spanHeader">TRAVELER DETAILS</span>
            <div class="traveldetai_top">
                <table cellpadding="0" cellspacing="0" border="0" style="width:100%; background:#fff;">
                    <tr>
                        <th>NAME</th>
                        @*<th>DESTINATION</th>*@
                        @*<th>MEALS</th>
                            <th>BAGGAGE</th>
                            <th>SEAT NO.</th>*@
                        <th>TICKET NO.</th>
                    </tr>

                    @*@{ int i = 1;}*@
                    @foreach (var pax in Model.passengerDetails)
                    {
                        var AirportFrom = Core.FlightUtility.GetAirport(Model.flightResult.FirstOrDefault().FlightSegments.FirstOrDefault().Segments.FirstOrDefault().Origin);
                        var AirportTo = Core.FlightUtility.GetAirport(Model.flightResult.FirstOrDefault().FlightSegments.FirstOrDefault().Segments.LastOrDefault().Destination);
                        <tr>
                            @*<td><p>@((i++).ToString())</p></td>*@
                            <td>@(pax.title + " " + pax.firstName + " " + pax.lastName)</td>
                            @*<td><span>@AirportFrom.airportCode</span> - <span>@AirportTo.airportCode</span></td>*@
                            @*<td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>*@
                            @if (!string.IsNullOrEmpty(pax.ticketNo))
                            {
                                <td>@pax.ticketNo</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }

                </table>

            </div>

        </div>

        <div class="bookinStatus">
            <span class="spanHeader">FARE DETAILS</span>
            <div class="traveldetai_top">
                <table cellpadding="0" cellspacing="0" border="0" style="width:100%; background:#fff;">
                    <tr>
                        <th>BaseFare</th>
                        <th>Taxes</th>
                        <th>Convenience Fee</th>
                        @*<th>Coupon</th>*@
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>₹ @((Model.sumFare.BaseFare).ToString("f2"))</td>
                        <td>₹ @((Model.sumFare.Tax + Model.sumFare.Markup + Model.fareIncreaseAmount + Model.sumFare.ServiceFee + Model.sumFare.OtherCharges).ToString("f2"))</td>
                        <td>₹ @(Model.conveniencefee)</td>
                        @*<td>₹ 4125</td>*@
                        <td>₹ @(((Model.sumFare.grandTotal + Model.fareIncreaseAmount + Model.conveniencefee) - CouponAmount).ToString("f2"))</td>
                    </tr>
                </table>

            </div>

        </div>

        <div class="bookinStatus ">
            <span class="spanHeader">FARE RULES</span>
            <div class="fareConfirmation padd10">
                <div class="FareRulestabel">
                    <table cellpadding="0" cellspacing="0" border="1" style="width:100%;">
                        <tr>
                            <th>
                                <span>Time Frame to cancel</span>
                                <p>Before scheduled departure time</p>
                            </th>
                            <th>
                                <span>Cancellation charges</span>
                                <p>per passenger</p>
                            </th>
                            <th>
                                <span>Agency Fee</span>
                                <p>per passenger</p>
                            </th>
                        </tr>
                        <tr>
                            <td>Cancel Before 72 hours of departure time.</td>
                            <td>As per airlines policy</td>
                            <td>₹ 500</td>
                        </tr>
                        <tr>
                            <td>Cancel within 72 hours & before 4 hours of departure time.</td>
                            <td>As per airlines policy</td>
                            <td>₹ 500</td>
                        </tr>
                    </table>
                </div>
                <div class="FareRulestabel">
                    <table cellpadding="0" cellspacing="0" border="1" style="width:100%;">
                        <tr>
                            <th>
                                <span>Time Frame to reschedule</span>
                                <p>Before scheduled departure time</p>
                            </th>
                            <th>
                                <span>Cancellation charges</span>
                                <p>per passenger</p>
                            </th>
                            <th>
                                <span>Agency Fee</span>
                                <p>per passenger</p>
                            </th>
                        </tr>
                        <tr>
                            <td>Reschedule before 72 hours of departure time.</td>
                            <td>As per airlines policy</td>
                            <td>₹ 500</td>
                        </tr>
                        <tr>
                            <td>Reschedule within 72 hours & before 4 hours of departure time.</td>
                            <td>As per airlines policy</td>
                            <td>₹ 500</td>
                        </tr>
                    </table>
                </div>
                <div class="fareTerms">
                    <h6>Terms & Conditions</h6>
                    @if (Model.FareTypeList.Contains(FareType.InstantPur) || Model.FareTypeList.Contains(FareType.Inst_SeriesPur) || Model.FareTypeList.Contains(FareType.OFFER_FARE_WITHOUT_PNR) || Model.FareTypeList.Contains(FareType.OFFER_FARE_WITH_PNR))
                    {
                        <ul>
                            <li>The Fare Selected by You is a Special Category Group Promotional Fare.</li>
                            <li>This Fare, Once Booked, CAN NOT be canceled or changed. This is a highly restricted fare, and any request to cancel or change the ticket can not be entertained.</li>
                            <li>This is a 100% Confirmed Ticket; Your name will reflect on Airline Website only 12-24 hrs before departure time.</li>
                            <li>Web Check-in for this ticket Can be done a day before Journey Date after 7 Pm.</li>
                            <li>If there is Any Change in Flight Timing, we will notify you on your registered mobile/email ID.</li>
                            <li>You must ensure to reach Boarding Gate at least 30 minutes before Departure Time.</li>
                            <li>Please reconfirm the Terminal Information with the boarding pass.</li>
                        </ul>
                    }

                    <ul>
                        <li>  All passengers, including children and infants, have to present their valid ID proof at the time of check ­ in.</li>
                        <li>  We recommend you check­in at least 3 hours prior to departure of your domestic flight and 4 hours prior to your international flight.</li>
                        <li>  For any cancellation of your booking, please contact FlightsMojo and not the Airlines directly. This will enable us to expedite your refund.</li>
                        <li>  Please reconfirm your flight schedule prior to departure. Flights Mojo will not be responsible for intimating any schedule changes or flight cancellation by the airlines.</li>
                        <li>  Use PNR/Booking ID for all communication you have directly with the airline about this booking.</li>
                        <li>  Carry a print out of this e-ticket and present it to the airline counter at time of check-in.</li>
                        <li>  FlightsMojo service Fees is Rs. 500 for any cancellation/amendments.</li>
                        <li>  Recheck your baggage with your respective airline before travelling for hassle­free travel experience.</li>
                        <li>  Please ensure you arrange at your end all visa's as per countries listed in your itinerary for your trip to avoid any visa/immigration issues at the airport .</li>
                        <li>  In case of cancellation of a ticket, Company reserves the right to levy a cancellation fee per passenger per flight/sector. The aforesaid amount may be charged by the Company at its sole discretion and without notice to the User. Please note these charges shall be over and above the airline cancellation charges.</li>
                        <li>  The detailed terms and conditions set out at Visit <a href="https://www.flightsmojo.in/terms-condition/" target="_blank">flightsmojo.in</a>! are incorporated herein by reference and shall accordingly apply to the booking.</li>
                        <li>  Due to the security, reasons and Government regulations, passengers flying on destination like Jammu and Srinagar are not allow to carry any Hand Baggage.</li>
                        <li>  In addition to the aforesaid terms and conditions, the terms, and conditions of the respective airlines shall also be applicable to the booking. In case of any inconsistency or conflict between the terms and conditions herein visa the terms and conditions of the airlines, the terms, and conditions of the airlines shall supersede.</li>
                    </ul>

                </div>
            </div>

        </div>

    </div>

    @(Model.sourceMedia == "1001")
    {
    <img src="https://secure.wego.com/analytics/v2/conversions?conversion_id=c-wego-flightsmojo.com&click_id=@(Model.wegoClickId)&comm_currency_code=INR&bv_currency_code=INR&transaction_id=@(Model.bookingID.ToString())&commission=0&total_booking_value=@(((Model.sumFare.grandTotal+Model.fareIncreaseAmount) -CouponAmount).ToString("f0"))&status=@(Model.bookingStatus.ToString())" width='1' height='1' border='0' alt='' />
    }
    <script src="/Scripts/jquery.js"></script>

    <script src="/Scripts/bootstrap.min.js"></script>
    <!-- Google Tag Manager (noscript) -->

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZ4KF2T"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <!-- End Google Tag Manager (noscript) -->
</body>
</html>
