@model Core.Flight.FlightSearchRequest
@using Core;
@{
    ViewBag.Title = "payment";
    Layout = "~/Views/Shared/_LayoutFlight.cshtml";
}
@section AdditionalMeta
{
    <title>Flights Searching: Flightsmojo in Travel Deals, Cheap Flight Deals, Airline Deals</title>
}
<style>
    .SessionTimeOutFlight {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin: 0 auto;
        z-index: 999999;
        background: rgba(0, 0, 0, 0.61);
    }
       
        .SessionTimeOutFlight .sessionboxFlight {
           
            -ms-transform:translate(42%, 50%);
            transform: translate(42%, 50%);
            position: relative;
            height: 214px;
            width: 460px;
        }

        .SessionTimeOutFlight .BookingProgressBar {
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            position: relative;
            height: 214px;
            width: 460px;
        }

    .Noprice_match > p {
        width: 100%;
        font-size: 14px;
        color: #000;
        line-height: 25px;
        float: left;
    }

    .noresultmatch {
        width: 100%;
        float: left;
        margin: 15px;
        text-align: center;
        padding-top: 20px;
    }

    .session-2 {
        width: 100%;
        float: left;
    }

    .session-headflight {
        background: linear-gradient(to right,#e83819,#f3850b);
        font-size: 20px;
        color: #fff;
        margin: 0;
        border-radius: 6px 6px 0 0;
        padding: 8px;
        text-align: center;
    }

    .session-expflight {
        width: 40%;
        box-shadow: 1px 0 5px 0 rgba(0,0,0,0.75);
        background: #fff;
        background-color: #fff;
        border-radius: 5px;
        z-index: 99999;
        height: 350px;
    }

    .Noprice_match {
        width: 100%;
        float: left;
        padding-bottom: 30px;
    }
    .logo a img {
    width: 60%;
    padding-left: 20px;
}
    @@media screen and ( max-width:767px){
        .session-expflight{width:100%;}
        .session-expflight{height:380px;}
        .noresultmatch{padding-top: 0px;margin: 0px;}
        .SessionTimeOutFlight .sessionboxFlight{ transform: translate(13%, 50%);}
    }
</style>
<main>

    <div class="modify_con">

        <div class="container no_padding">
            <div class="destinatin_div">
                <div class="modify_left">
                    <div class="from_to"><span>@(Model.segment[0].orgArp != null ? Model.segment[0].orgArp.cityName : Model.segment[0].originAirport)</span><span><i class="fa fa-exchange"></i></span><span>@(Model.segment[0].destArp != null ? Model.segment[0].destArp.cityName : Model.segment[0].destinationAirport)</span></div>
                    <div class="modi_date">
                        <span>@Model.segment[0].travelDate.ToString("dd MMM")</span>
                        @if (Model.tripType == TripType.RoundTrip)
                        {
                            <span><i class="fa fa-minus"></i></span><span>@Model.segment[1].travelDate.ToString("dd MMM")</span>
                        }
                        <font>|</font>
                    </div>
                    <div class="modi_pase"><span>@Model.cabinType.ToString()</span> | <span>@(Model.adults + Model.child + Model.infants) Passenger(s)</span> | <span>@Model.tripType | <font class="Result-show" style="display:none;">{{(result | filter:filterByStop | filter:filterByAirline | filter:filterDepTimeDur | filter:filterArrTimeDur | filter:AirlineMatrixFilter | filter:priceRange | filter:FlexiFareFilter | filter:NearByFilter | filter:AllFareFilter | filter:filterByGds | filter:filterByFareType).length}}Results Found</font></span></div>
                </div>
                <div class="modify_right">
                    <button class="button">MODIFY SEARCH</button>
                </div>
                @{ Html.RenderPartial("/Views/Shared/SearchEngineModify.cshtml");}
            </div>
        </div>

    </div>
    <div class="container">
        <div class="repon_filterNo">

            <a class="modify_clickNO" href="#">MODIFY SEARCH<i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="clr"></div>
    <div class="container-fluid search-main-div">
        <div class="row">

            <div class="middle-search_no">
                <div class="no_result">
                    @*<div class="no_result_left">
                            <div class=""><img src="/images/call_center.jpg" alt="call-center" /></div>
                            <h1>Sorry! No Result Found</h1>
                            <p>We have Searched more than million Flights Combination. We didn't find any Flights for Your Search. </p>
                            <h3>Let Our Agents Help You Find The Best Flight Option!</h3>
                            <h5> Call Now Toll Free</h5>
                            <a href="tel:@ViewBag.PhoneNo"><dfn></dfn> @ViewBag.PhoneNo</a>
                        </div>*@
                    <div class="no_result_right"><img src="/images/call_center.png" alt="call-center" /></div>
                </div>
               <div class="mobile-calling">
                        <div class="mobile_left"><img src="/images/telephone.png" class="dep-ai-img" alt="phone-icon" /> </div>
                        <div class="mobile_mid">
                            <h3>Call us for phone only </h3>
                            <span>unpublished fares</span>
                            <div class="deal-code">Deal Code: A2258512</div>
                        </div>
                        <div class="mobile_last">
                            <a href="tel:@ViewBag.PhoneNo" class="btn  float-right" aria-hidden="true" style="background-color: #0b4a80 !important; color:#fff; "> <i class="fa fa-phone"></i> CALL </a>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</main>
<div id="divSessionOut" class="SessionTimeOutFlight" style="display:block !important;">
    <div class="sessionboxFlight" style="display:block !important; height:80%; width:80%;">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="col-md-3"></div>
                <div class=" session-expflight no_padding">
                    <h2 class="session-headflight">Selected Flight not match, You can see another option</h2>
                    <div class="session_content">
                        <div class="Noprice_match">
                            <p>
                                We are unable to fetch details for the selected airlines at the moment,
                                but we have alternate airlines with similar fares available.
                                You may check and book from the available airlines.
                                We apologize for the inconvenience caused to you.
                                <b>Please click on 'Go to all result'.</b>
                            </p>
                        </div>
                        <div class="noresultmatch"><p class="session-2"><a href="/flight/result/@Model.userSearchID" class="search-button-01 se-05">Go to all result</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/MojoJsResult")
    <script>
        $(document).ready(function () {
            GF_FlightNotFound();
            $(".modify_click,.button,.modify_clickNO").click(function () {

                $(".modify_search").slideDown("slow");

            });
            $(".modify_close").click(function () {
                $(".modify_search").slideUp("slow");

            });

           
        })

    </script>

<script>
    function GF_FlightNotFound() {
        gtag('event', 'view_item', {
            'send_to': 'GF-982',
            'flight_error_code': 'FLIGHT_NOT_FOUND',
            'flight_error_message': 'FLIGHT NOT FOUND'
        });
    }
</script>
}



